---
layout: default
rbar: 
    - fb
    - tw
    - video
priorites:
  left-top:
    text: Transparentní a profesionální radnice
  right-top:
    text: Digitální metropole
    url: https://praha.pirati.cz/program
  left-bottom:
    text: Čisté a zdravé město
    url: https://praha.pirati.cz/program
  right-bottom:
    text: Služby pro moderní rodinu
    url: https://praha.pirati.cz/program
boxes:
  left-top:
    text: Kdo jsme?
    url: https://praha.pirati.cz/lide/
    icon: fa fa-users
  right-top:
    text: Darujte
    url: https://dary.pirati.cz/
    icon: fa fa-gift u-rotate-5 fa-5x u-rotate-345
  left-bottom:
    text: Městské části
    url: mestske-casti
    icon: fa fa-map-signs
  rhttps://praha.pirati.cz/newindex.htmlight-bottom:
    text: Volby do senátu
    url: senat
    icon: fa fa-user
---

<div class="c-banner">
  <div class="row">
    <div class="c-banner-container small-12 columns">
      <div class="o-section">
        <div class="o-section-inner o-section-inner--noLarge u-cf">
          <div class="c-banner-section c-banner-section">
<img src="{{ "/assets/img/program/naprahuzmeny2.jpg" | prepend: site.baseurl }}" class="c-card__image" alt="{{box0.alt}}">
          </div>
        </div>
      </div>
    </div>
    <div class="c-banner-container small-12 columns">
      <div class="o-section">
        <div class="o-section-inner o-section-inner--noLarge u-cf">
          <div class="c-banner-section c-banner-primary-section">
              {% include title/gif-box.html 
                foto="/assets/img/miscellaneous/kandidatka2018.gif"
                alt="Řídit město s čistým štítem"
                url="https://praha.pirati.cz/lide/"
              %}
          </div>
          <div class="c-banner-section c-banner-secondary-section">
               {% include title/four-buttoms.html boxes=page.priorites %}
          </div>
        </div>
      </div>
    </div>
    <div class="c-banner-container small-12 columns">
      <div class="o-section">
        <div class="o-section-inner o-section-inner--noLarge u-cf">
          <div class="c-banner-section c-banner-secondary-section">
               {% include title/four-buttoms.html boxes=page.boxes %}
          </div>
          <div class="c-banner-section c-banner-primary-section">
            <iframe width="540" height="304" src="https://www.youtube-nocookie.com/embed/pWK515EHyG0?rel=0&amp;controls=0" style="border: 0;" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include title/news-with-rbar.html %}
