<header>
  <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Piráti Praha: menu</div>
  </div>

  <div class="row">
    <!-- <div class="top-bar" id="main-menu"> -->
    <div id="main-menu">
      <div class="top-bar-left" style="background-color: white;">
        <nav><!--
          Cokoliv vlevo v nejvyšším řádku -->
        </nav>
      </div>
      <div class="top-bar-right" style="background-color: white;">
        <nav>
          <ul class="menu vertical medium-horizontal medium-text-center">
            <li {% if page.url == "/blog/" or page.layout == "post" %}class="active"{% endif %}>
              <a href="/blog/">Aktuality</a>
            </li>
            <li {% if page.url == "/o-nas/" or page.url == "/mestske-casti/" or page.layout == "lide" %}class="active"{% endif %}>
              <a href="/o-nas/">O nás</a>
            </li>
            <li {% if page.url == "/program/" %}class="active"{% endif %}>
              <a href="/program/">Program</a></li>
            <li {% if page.url == "/pripoj-se/" %}class="active"{% endif %}>
              <a href="/pripoj-se/">Připoj se</a>
            </li>
            <li {% if page.url == "/transparence/" %}class="active"{% endif %}>
              <a href="/transparence/">Transparence</a>
            </li>
            <li {% if page.url == "/kontakt/" %}class="active"{% endif %}>
              <a href="/kontakt/">Kontakt</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="align-middle black-bar expanded">
    <div class="row align-middle">
      <div class="large-3 columns">
        <a href="/">
          <img src="/assets/img/layout/logo-pirati-praha.png" alt="Piráti logo" height="100px" />
        </a>
      </div>
    </div>
  </div>
</header>
