---
layout: default
---

<div align="center">
<table>
<tr>
<td> <img src="/assets/img/people/pavel-nazarsky.jpg" alt="Pavel Nazarský"> </td>
<td> <img src="/assets/img/people/jaroslav-nemec.jpg" alt="Jaroslav Němec"> </td>
<td> <img src="/assets/img/people/stepan-strebl.jpg" alt="Štěpán Štrébl"> </td>
<td> <img src="/assets/img/people/tibor-vansa.jpg" alt="Tibor Vansa"> </td>
<td> <img src="/assets/img/people/daniel-mazur.jpg" alt="Daniel Mazur"> </td>
<td> <img src="/assets/img/people/ondrej-chrast.jpg" alt="Ondřej Chrást"> </td>
<td> <img src="/assets/img/people/pavel-tauer.jpg" alt="Pavel Tauer"> </td>
</tr>
<tr>
<td> <a href="{{ '/lide/pavel-nazarsky/'  }}">Pavel Nazarský</a> </td>
<td> Jaroslav Neměc</td>
<td> Štěpán Štrébl</td>
<td> Tibor Vansa</td>
<td> <a href="{{ '/lide/daniel-mazur/'  }}">Daniel Mazur</a> </td>
<td> Ondřej Chrást</td>
<td> Pavel Tauer</td>
</tr>
<tr>
<td> lídr Pirátů na <b>Praze 1</b> </td>
<td> lídr Pirátů na <b>Praze 2</b> </td>
<td> lídr Pirátů na <b>Praze 3</b> </td>
<td> lídr Pirátů na <b>Praze 4</b> </td>
<td> lídr Pirátů na <b>Praze 5</b> </td>
<td> lídr Pirátů na <b>Praze 6</b> </td>
<td> lídr Pirátů na <b>Praze 7</b> </td>
</tr>
<tr>
<td> pavel.nazarsky@pirati.cz </td>
<td> jaroslav.nemec@pirati.cz </td>
<td> stepan.strebl@pirati.cz </td>
<td> tibor.vansa@pirati.cz </td>
<td> daniel.mazur@pirati.cz </td>
<td> ondrej.chrast@pirati.cz </td>
<td> pavel.tauer@pirati.cz </td>
</tr>
<tr>
<td> <img src="/assets/img/people/alice-hamalova.jpg" alt="Alice Hamalová"> </td>
<td> <img src="/assets/img/people/kornelia-gottmanova.jpg" alt="Kornélia Gottmanová"> </td>
<td> <img src="/assets/img/people/jana-komrskova.jpg" alt="Jana Komrsková"> </td>
<td> <img src="/assets/img/people/jiri-dohnal.jpg" alt="Jiří Dohnal"> </td>
<td> <img src="/assets/img/people/lukas-findeis.jpg" alt="Lukáš Findeis"> </td>
<td> <img src="/assets/img/people/tomas-murnak.jpg" alt="Tomáš Murňák"> </td>
<td> <img src="/assets/img/people/michal-prager.jpg" alt="Michal Prager"> </td>
</tr>
<tr>
<td> Alice Hamalová </td>
<td> Nela Gottmanová </td>
<td> Jana Komrsková </td>
<td> Jiří Dohnal </td>
<td> <a href="{{ '/lide/lukas-findeis/'  }}">Lukáš Findeis</a> </td>
<td> <a href="{{ '/lide/tomas-murnak/'  }}">Tomáš Murňák</a> </td>
<td> Michal Prager </td>
</tr>
<tr>
<td> lídr Pirátů na <b>Praze 8</b> </td>
<td> lídr Pirátů na <b>Praze 9</b> </td>
<td> lídr Pirátů na <b>Praze 10</b> </td>
<td> lídr Pirátů na <b>Praze 11</b> </td>
<td> lídr Pirátů na <b>Praze 12</b> </td>
<td> lídr Pirátů na <b>Praze 13</b> </td>
<td> lídr Pirátů na <b>Praze 14</b> </td>
</tr>
<tr>
<td> alice.hamalova@pirati.cz </td>
<td> kornelia.gottmanova<br/>@pirati.cz </td>
<td> jana.komrskova@pirati.cz </td>
<td> jiri.dohnal@pirati.cz </td>
<td> lukas.findeis@pirati.cz </td>
<td> tomas.murnak@pirati.cz </td>
<td> michal.prager@pirati.cz </td>
</tr>
</table>
</div>

<!--
<div class="row">
  <img src="{{"/assets/img/mestske-casti/praha-rozdeleni2.jpg" }}">
</div>
-->

<hr>

<div class="row">
  <div class="columns large-6">
    <h2>Krajské sdružení</h2>
    <p>Krajské sdružení Praha (KS) se dělí několik místních sdružení (MS).</p>
    <p>Krajským předsedou je <a href="{{ '/lide/ondrej-profant/'  }}">Ondřej Profant</a>, dále jsou v krajském předsednictvu čtyři místopředsedové: <a href="{{ '/lide/adam-zabransky/'  }}">Adam Zábranský</a>, <a href="{{ '/lide/vit-simral/'  }}">Vít Šimral</a>, <a href="{{ '/lide/daniel-mazur/'  }}">Daniel Mazur</a> a <a href="{{ '/lide/jaromir-beranek/'  }}">Jaromír Beránek</a>.</p>
  </div>
</div>

<!--
<div class="row">
  <div class="columns large-6">
    <h2 id="p01">Praha 1</h2>
    <p><a href="{{ '/lide/pavel-nazarsky/'  }}">Pavel Nazarský</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p01' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
  <div class="columns large-6">
    <h2 id="p2">Praha 2</h2>
    <p><a href="{{ '/lide/robert-rames/'  }}">Robert Rameš</a>, člen Pirátů</p>
    <p>V obvodě je za nás zvolen senátor <a href="http://libormichalek.cz/">Libor Michálek</a></p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p2' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <h2 id="p3">Praha 3</h2>
    <p><a href="{{ '/lide/pavel-kralicek/'  }}">Pavel Králíček</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p3' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
  <div class="columns large-6">
    <h2 id="p4"><a href="https://praha4.pirati.cz/">Praha 4</a></h2>
    <p><a href="{{ '/lide/marek-paris/'  }}">Marek Paris</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p4' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <h2 id="p5"><a href="https://praha5.pirati.cz/">Praha 5</a></h2>
    <p><a href="{{ '/lide/daniel-mazur/'  }}">Daniel Mazur</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p5' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
  <div class="columns large-6">
    <h2 id="p6"><a href="https://praha6.pirati.cz/">Praha 6</a></h2>
    <p><a href="{{ '/lide/viktor-mahrik/'  }}">Viktor Mahrik</a>, člen Pirátů, zastupitel v ZHMP</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p6' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <h2 id="p7"><a href="https://praha7.pirati.cz/">Praha 7</a></h2>
    <p><a href="{{ '/lide/roman-kucera/'  }}">Roman Kučera</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p7' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
  <div class="columns large-6">
    <h2 id="p8">Praha 8</h2>
    <p><a href="{{ '/lide/michal-novak/'  }}">Michal Novák</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p8' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <h2 id="p9">Praha 9</h2>
    <p><a href="{{ '/lide/aneta-heidlova/'  }}">Aneta Heidlová</a>, členka Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p9' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
  <div class="columns large-6">
    <h2 id="p10"><a href="http://www.pirati10.cz/">Praha 10</a></h2>
    <p><a href="{{ '/lide/pavel-hajek/'  }}">Pavel Hájek</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p10' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <h2 id="p11">Praha 11</h2>
    <p><a href="{{ '/lide/filip-miler/'  }}">Filip Miler</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p11' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
  <div class="columns large-6">
    <h2 id="p12"><a href="https://praha12.pirati.cz/">Praha 12</a></h2>
    <p><a href="{{ '/lide/lukas-findeis/'  }}">Lukáš Findeis</a>, zastupitel na městské části Praha 12</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p12' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <h2 id="p13"><a href="https://praha.pirati.cz/mestske-casti/p13/">Praha 13</a></h2>
    <p><a href="{{ '/lide/tomas-murnak/'  }}">Tomáš Murňák</a>, zastupitel na městské části Praha 13</p>
    <p>V obvodě je s naší spoluúčastí zvolen senátor <a href="http://www.vaclavlaska.cz/">Václav Láska</a>.</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p13' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
  <div class="columns large-6">
    <h2 id="p16">Praha 16</h2>
    <p><a href="{{ '/lide/karel-nejedlik/'  }}">Karel Nejedlík</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p16' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
</div>
-->

<b>
