<a href="{% if include.box.url contains "http" %}{{include.box.url}}{% else %}{{include.box.url | relative_url }}{% endif %}" class="c-card c-card--border" >
    <div title={{include.box.on-mouse}}>
    <div class="c-card-header">
        <div class="c-card__title"> {{include.box.text}} </div>
    </div>
    <div class="c-card__icon c-card__icon--pos4">
        {% if include.box.icon %}
            <i class="{{include.box.icon}}" aria-hidden="true"></i>
        {% endif %}
        {% if include.box.img %}
            <img class="program-icon" src="{{ include.box.img | prepend: 'assets/img/' | relative_url}}" alt="{{include.box.text}}" width="80" />
        {% endif %}
    </div>
    </div>
</a>
